<?xml version="1.0" encoding="UTF-8"?>
<CCA_SETTINGS>
    <server>
        <auth>true</auth>
        <username>example</username>
        <password>example</password>
        <port>8888</port>
    </server>
    <preview>
        <host>127.0.0.1</host>
        <remote_port>8889</remote_port>
    </preview>
</CCA_SETTINGS>