<?xml version="1.0" encoding="UTF-8"?>
<CCA_SETTINGS>
    <general>
        <!-- webinterface enable or disable  -->
        <webif>true</webif>
        <!-- if true, the images will saved on the sd card and not deleted -->
        <save_images>true</save_images>
        <!-- if enabled, you receive with the images on the filesystem an automatic generated thumbnail in the given size -->
        <thumbnail>true</thumbnail>
    </general>
    <server>
        <!-- enabled the http basic access authentication -->
        <auth>false</auth>
        <username>example</username>
        <password>example</password>
        <!-- specifies the server listen port -->
        <port>8888</port>
    </server>
    <preview>
        <host>127.0.0.1</host>
        <remote_port>8889</remote_port>
    </preview>
</CCA_SETTINGS>